<footer class="footer mt-auto py-3 text-center" style="background-color: #f8f9fa;">
  <div class="container">
    <span class="text-muted">Roman Bilyk &copy; PostBlog 2023</span>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
